pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent
	pkgver = 0.53.0
	pkgrel = 1
	url = https://cursor.com
	arch = x86_64
	license = LicenseRef-Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	depends = hicolor-icon-theme
	depends = alsa-lib
	optdepends = libappindicator-gtk3: tray support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.53.0_amd64.deb
	options = !strip
	options = !debug
	source = grok-bot_0.53.0_amd64.deb::https://downloads.cursor.com/grokbot/stable/a1ebb5b6cd971e55e5a6092413a3af68ed5a533e/linux/x64/grok-bot_0.53.0_amd64.deb
	source = grok-bot.sh
	sha256sums = 5aadc536cad16fce5cb5b987d3ea086df52874de47d101a0c99b754592cd2a83
	sha256sums = 9b3cccfada1dbe44ce794177181515aaf328603484327ef72a914234544bfbf8

pkgname = grok-bot-bin
