pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent
	pkgver = 0.56.1
	pkgrel = 1
	url = https://cursor.com
	arch = x86_64
	license = LicenseRef-Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	depends = hicolor-icon-theme
	depends = alsa-lib
	optdepends = libappindicator-gtk3: tray support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.56.1_amd64.deb
	options = !strip
	options = !debug
	source = grok-bot_0.56.1_amd64.deb::https://downloads.cursor.com/grokbot/stable/b938fe7791be84ce088d4a9a95332601710ba469/linux/x64/grok-bot_0.56.1_amd64.deb
	source = grok-bot.sh
	sha256sums = fb768b440ccb7cc4b4ec656f5d9f00aed48c078325c7744602eb89602879a597
	sha256sums = 9b3cccfada1dbe44ce794177181515aaf328603484327ef72a914234544bfbf8

pkgname = grok-bot-bin
