pkgbase = grok-bot-bin
	pkgdesc = Grok Bot desktop agent
	pkgver = 0.61.0
	pkgrel = 1
	url = https://cursor.com
	arch = x86_64
	license = LicenseRef-Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	depends = hicolor-icon-theme
	depends = alsa-lib
	optdepends = libappindicator-gtk3: tray support
	provides = grok-bot
	conflicts = grok-bot
	noextract = grok-bot_0.61.0_amd64.deb
	options = !strip
	options = !debug
	source = grok-bot_0.61.0_amd64.deb::https://downloads.cursor.com/grokbot/stable/47a9d1df3a7d37aaa53d206ab2d1f9159a336223/linux/x64/grok-bot_0.61.0_amd64.deb
	source = grok-bot.sh
	sha256sums = 3616c006748993a02674afc8a50513073d716b3bfa554943450dacf8e82576ef
	sha256sums = 9b3cccfada1dbe44ce794177181515aaf328603484327ef72a914234544bfbf8

pkgname = grok-bot-bin
